coverage==4.0.1
cssmin==0.2.0
decorator==4.0.4
Django==1.8.6
django-pipeline==1.5.4
django-widget-tweaks==1.4.1
factory-boy==2.6.0
fake-factory==0.5.3
futures==3.0.3
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
libsass==0.9.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
psycopg2==2.6.1
ptyprocess==0.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.0.0
