$light-blue: #6F99AA;
$dark-blue: #03295C;
$yellow: #FDB73C;
$grey: #A9B2B8;
$dark-grey: #838C93;
$white: #FFFFFF;
$black: #000000;

body {
  max-width: 600px;
  min-width: 320px;
  margin: auto;
}

.form-simple {
  max-width: 350px;
  margin: auto;
}

.list-type-select,
.time-filter,
.list {
  margin-top: 5px;
}

.list table td {
  padding: 5px 10px;
  vertical-align: middle;
}

.month-change-row td {
  text-align: center;
  border-top: 1px solid $dark-grey;
  border-bottom: 1px solid $dark-grey;
}

#user-dropdown {
  .dropdown-item,
  .dropdown-toggle {
    padding: 3px 8px;
    min-width: 100px;
  }
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

@media screen and (max-width: 370px) {
  div.time-filter div.btn-group a {
    font-size: 10px;
  }
}

// for django debug toolbar
// https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
[hidden][style="display: block;"] {
  display: block !important;
}
