{% extends "logged_in_base.html" %}

{% block logged_in_content %}
<div class="row">
  <div class="col-xs-6 col-md-8">
    <a class="btn btn-primary" href="{% url 'transaction_create' %}">New entry</a>
  </div>
  <div class="col-xs-6 col-md-4 text-center">
    <span class="octicon octicon-arrow-up label label-success">
      € {{ positive_transaction_sum|default_if_none:'0.00' }}
    </span>
    <span class="octicon octicon-arrow-down label label-danger">
      € {{ negative_transaction_sum|default_if_none:'0.00' }}
    </span>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <div class="btn-group btn-group-sm" role="group" aria-label="Transaction filter by date">
      <a href="#" type="button" class="btn btn-secondary">This month</a>
      <a href="#" type="button" class="btn btn-secondary">Last month</a>
      <a href="#" type="button" class="btn btn-secondary">This year</a>
      <a href="#" type="button" class="btn btn-secondary">All time</a>
    </div>
  </div>
</div>

<div class="table-responsive transaction-list">
<table class="table table-striped">
  <tbody>
  {% for transaction in transactions %}
  <tr>
    <td>
      {{ transaction.title }}
    </td>
    <td>
    {% if transaction.category == transaction.INCOME %}
      <span class="text-success">€ {{ transaction.amount }}</span>
    {% else %}
      <span class="text-danger">€ {{ transaction.amount }}</span>
    {% endif %}
    </td>
    <td>
      <a href="{% url 'transaction_update' transaction.id %}"><span class="octicon octicon-pencil"></span></a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
