{% extends "logged_in_base.html" %}

{% block logged_in_content %}
<div class="row">
  <div class="col-xs-6 col-md-8">
    <a class="btn btn-primary" href="{% url 'transaction_create' %}">New entry</a>
  </div>
  <div class="col-xs-6 col-md-4 text-center">
    <span class="label label-success">
      <i class="fa fa-arrow-up"></i> € {{ positive_transaction_sum|default_if_none:'0.00' }}
    </span>
    <span class="label label-danger">
      <i class="fa fa-arrow-down"></i> € {{ negative_transaction_sum|default_if_none:'0.00' }}
    </span>
  </div>
</div>

<div class="row time-filter">
  <div class="col-sm-12 text-center">
    <div class="btn-group btn-group-sm" role="group" aria-label="Transaction filter by date">
      <a href="{% url 'transaction_list_filter' %}?filter=this_month" type="button" class="btn btn-secondary {% if fltr == 'this_month' %}active{% endif %}">
        This month
      </a>
      <a href="{% url 'transaction_list_filter' %}?filter=last_month" type="button" class="btn btn-secondary {% if fltr == 'last_month' %}active{% endif %}">
        Last month
      </a>
      <a href="{% url 'transaction_list_filter' %}?filter=this_year" type="button" class="btn btn-secondary {% if fltr == 'this_year' %}active{% endif %}">
        This year
      </a>
      <a href="{% url 'transaction_list_filter' %}?filter=all_time" type="button" class="btn btn-secondary {% if fltr ==  'all_time' %}active{% endif %}">
        All time
      </a>
    </div>
  </div>
</div>

<div class="table-responsive transaction-list">
<table class="table">
  <tbody>
  {% for transaction in transactions %}
  {% ifchanged transaction.created.month %}
  <tr class="month-change-row">
    <td colspan="3">
      <strong>{{ transaction.created|date:"F" }}</strong>
      {{ transaction.created|date:"'y" }}
    </td>
  </td>
  {% endifchanged %}
  <tr>
    <td>
      {{ transaction.title }}
    </td>
    <td>
    {% if transaction.category == transaction.INCOME %}
      <span class="text-success">€ {{ transaction.amount }}</span>
    {% else %}
      <span class="text-danger">€ {{ transaction.amount }}</span>
    {% endif %}
    </td>
    <td width="36px">
      <a href="{% url 'transaction_update' transaction.id %}"><i class="fa fa-edit"></i></a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
