{% extends "books_base.html" %}

{% block books_content %}
<div class="row">
  <div class="col-xs-12">
    <h1>Hello, {{ user.username }}</h1>
  </div>
</div>

<a class="btn btn-primary" href="{% url 'transaction_create' %}">New entry</a>

{% for transaction in transactions %}
<div class="row transaction-list-entry">
  <div class="col-xs-8">
    {{ transaction.title }}
  </div>
  <div class="col-xs-4">
    {% if transaction.category == transaction.INCOME %}
      <span class="text-success">€ {{ transaction.amount }}</span>
    {% else %}
      <span class="text-danger">€ {{ transaction.amount }}</span>
    {% endif %}
  </div>
</div>
{% endfor %}

{% endblock %}
