{% extends "base.html" %}

{% load render_field from widget_tweaks %}
{% load i18n %}

{% block content %}
<form class="form-simple form-login" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {% for field in form %}
  <fieldset class="form-group">
    {{ field.label_tag }}
    {{ field.errors }}
    {% render_field field class="form-control" %}
  </fieldset>
  {% endfor %}

  <button class="btn btn-primary btn-block" type="submit">{% trans "Log in" %}</button>
  <a class="btn btn-secondary btn-block" href="{% url 'registration_register' %}">{% trans "Sign up" %}</a>
  <a class="btn btn-secondar btn-block" href="{% url "password_reset" %}">{% trans "Forgot password?" %}</a>
</form>
{% endblock %}
