{% extends "base.html" %}

{% block content %}

{% block user_controls %}
<div class="row">
  <div class="col-xs-4">
    <div class="dropdown" id="user-dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ user }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href={% url "logout" %}?next={% url "home" %}>Logout</a>
      </div>
    </div>
  </div>
  <div class="col-xs-4 center">
    {% block sums %}
    {% endblock %}
  </div>
  <div class="col-xs-4 right">
    {% block create_new_btn %}
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block logged_in_content %}
{% endblock %}

{% endblock %}
